body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-container{
  background-color: #b6b6bd;
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-color: rgb(3, 3, 3);
  border-radius: 0.3rem;
  color: rgb(20, 18, 18);
  padding: 16px 32px;
  margin: 4px 2px;
  cursor: pointer
}

.priCard{
  background-color: rgb(150, 150, 247);
  padding: 20px;
  width: 45%

}
.navigation{
  background-color: rgb(165, 247, 150);
  padding: 20px;
}
.priImage{
  height: 400px;
  width: auto;
}
.navbtn{
  padding-left: 25px;
}
.pubPlant{
  height: 300px;
  width:auto;
  max-width: 250px
}
.pubPlantCard{
  padding: 20px;
  width: 250px;
  box-shadow: 0 8px 6px -6px black;
}
.truePlantCon{
  columns: 100px 3;
  flex-flow: column wrap
}